<html>
    <body>
    <table border="1">
        <tr>
            <td>
                <center>
                    <h1>
                        RishiPatel.com
                    </h1>
                </center>
            </td>

        </tr>
        <tr>
            <td>
                <a href="#">Home</a>
                <a href="#">about</a>
                <a href="#">contact</a>
            </td>
        </tr>
        <tr>
            <td>
            <!--content-->
            {% block mycontent %}
            {% endblock %}
            </td>
        </tr>

    </table>
</body>
</html>